@charset "uft-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

.btn-round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #650A30;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.text-right{
    text-align: right;
}

/* header */

.header{
    width: 100%;
    height: 80px;
    background-color: #650A30;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}
.header__inner{
    width: calc(100% - 60px);
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.gnb{
    display: flex;
    column-gap: 50px;
}
.gnb__item>a{
    color: #fff;
}


.main{
    padding-top: 80px;
}
.visual__section{
    width: 100%;
    height: 800px;
    background: url(../img/visual.jpg) no-repeat center center/cover;
}
.section__inner{
    width: calc(100% - 60px);
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.best-menu__section{
    background-color: #FFFAF3;
    padding: 350px 0;
}
.best-menu__row{
    display: flex;
}
.best-menu__row.jc-right{
    justify-content: right;
}
.best-menu__row+.best-menu__row{
    margin-top: 360px;
}
.best-menu__box{
    display: flex;
    align-items: center;
    column-gap: 40px;
    opacity: 0;
    position: relative;
    transform: translateY(300px);
}
.best-menu__box .img__box{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}
.best-menu__box .img__box>img{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
}
.best-menu__title{
    font-size: 40px;
    font-weight: 600;
    color: #600824;
    margin-bottom: 40px;
}
.best-menu__text{
    font-size: 24px;
}
.best-menu__box .btn-round{
    margin-top: 50px;
}
.best-menu__box .text-right .btn-round{
    margin-left: auto;
}